<div id="mine" data-ui-view="">
    <header>
        <div class="register"><a href="">签到</a></div>
        <a href="">
            <div class="photo"></div>
            <div class="name">自演执着<span></span></div>
            <div class="ladou">辣豆<span></span></div>
        </a>
    </header>
    <div class="container">
        <div class="order">
            <div class="order-all">
                <a href="">
                    <span></span>
                    <span>我的订单</span>
                    <span ui-sref=".indent">查看全部订单</span>
                    <i></i>
                </a>
            </div>
            <ul class="order-other clearfix">
                <li ui-sref=".indent"><a href="">待付款</a></li>
                <li ui-sref=".indent"><a href="">待发货</a></li>
                <li ui-sref=".indent"><a href="">待收货</a></li>
                <li ui-sref=".indent"><a href="">待评价</a></li>
                <li ui-sref=".indent"><a href="">售后</a></li>
            </ul>
        </div>
        <ul class="footer">
            <li><a href=""><span></span><span>我的收藏</span><i></i></a></li>
            <li><a href="" class="not"><span></span><span>我的地址</span><i></i></a></li>
            <li><a href=""><span></span><span>我的优惠券</span><i></i></a></li>
            <li><a href=""><span></span><span>我的辣豆</span><i></i></a></li>
            <li><a href="" class="not"><span></span><span>会员中心</span><i></i></a></li>
            <li><a href=""><span></span><span>常见问题</span><i></i></a></li>
            <li><a href=""><span></span><span>关于辣妈商城</span><i></i></a></li>
        </ul>
    </div>
    <div class="dis"></div>
</div>