.category .product-list {margin-bottom: 2rem;}
.category .product-list li{margin-bottom:0.7rem; background: #fff;width:100%;}
.category .product-list li a{width:100%;height:10rem;display:block;position: relative;font-size: 0; }
.category .product-list li a img{width:100%;height:10rem;}
.category .product-list li .infor{height:2.8rem;padding: 0 1rem;font-size:0.9rem ; }
.category .product-list li .infor>p{line-height:2.8rem;float: left; color:#322228;width:10rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }
.category .product-list li .infor>div{float: right;line-height:2.8rem;color:#999094;font-size:0.8rem; }
.category .product-list li .infor>div>p{font-size:0.8rem;display: inline-block;margin-right: 1rem;}
.category .product-list li .infor>div>p span{color:#fc6496;}
.category .product-list li .discount{position: absolute;left:0;top:7.6rem;width:5rem;height:1.6rem;background: #fc6496;color:#fff;line-height: 1.6rem;font-size: 0.7rem;padding: 0 0.6rem;box-sizing: border-box;border-radius: 0 1.6rem 1.6rem 0;}
.category .product-list li .discount span{font-size:01rem;}
.category h3{font-size: 0.7rem;color:#735660;width:7rem;margin:0.6rem auto;font-weight: 400;text-align: center;}
.category .hot-list li{padding: 0.8rem;background:#fff;border-bottom: 1px solid #e0e0e0; }
.category .hot-list li a{display: flex;width:100%;justify-content: space-between;align-items: center;}
.category .hot-list li a .hot-img{width:6.5rem;height: 6.5rem;}
.hot-list li a .hot-img img{width:100%;height: 100%;}
.category .hot-list li a .hot-infor{height: 6.5rem;line-height:1rem;font-size:0.7rem;position: relative;width:11rem;color:#735660;}
.category .hot-list li a .hot-infor div{position: absolute;bottom:0;left:0;}
.category .hot-list li a .hot-infor div p:nth-child(1){margin-top:0.5rem;color:#999094; }
.category .hot-list li a .hot-infor div p:last-child{margin-top:1rem;}
.category .hot-list li a .hot-infor div p:last-child span{text-decoration: line-through;}





.category .product-list-later {margin-bottom: 2rem;}
.category .product-list-later li{margin-bottom:0.7rem; background: #fff;width:100%;;position: relative}
.category .product-list-later li a{width:100%;height:10rem;display:block;font-size: 0; }
.category .product-list-later li a img{width:100%;height:10rem;}
.category .product-list-later li .infor{height:2.8rem;padding: 0 1rem;font-size:0.9rem ; }
.category .product-list-later li .infor>p{line-height:2.8rem;float: left; color:#322228;width:10rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }
.category .product-list-later li .infor>div{float: right;line-height:2.8rem;color:#999094;font-size:0.8rem; }
.category .product-list-later li .infor>div>p{font-size:0.8rem;display: inline-block;margin-right: 1rem;}
/*.category .product-list-later li .infor>div>p span{color:#fc6496;}*/
.category .product-list-later li .mask{position: absolute;left:0;top:0rem;width:100%;height:10rem;background: rgba(0,0,0,0.6);color:#fff;z-index:10;text-align: center;line-height: 10rem;}
.category .product-list-later li .mask span{display:block;font-size:0.8rem;background: #fc6496;width:8rem;height: 2rem;border-radius: 2rem;position: absolute;top:40%;left:30%;line-height: 2rem;}
.category .product-list-later li .mask>div{width:2rem;height: 2rem;position: absolute;background-color: red;top:40%;left:33%;background: url("../../../img/time.png") no-repeat;
    z-index:20;}















