#shopCar{width: 100%;position:absolute;overflow-x: hidden;overflow-y: auto;height:100%;background: rgb(246,246,246);}
#shopCar .header{height: 3rem;width: 100%;border-bottom: 1px solid #e0e0e0;background: #fff;position: relative;}
#shopCar .header p{font-size: 1.2rem;text-align: center;line-height: 3rem;}
#shopCar .header a{color: #735660;font-size:0.8rem;display:block;position: absolute;right:1rem;top:36%;}
#shopCar .main-empty{width: 100%;height: 20rem;padding: 3rem 0;box-sizing: border-box;}
#shopCar .main-empty div{ margin:0 auto;background: url(img/bg_icons.png) no-repeat ;  -webkit-background-size: 9.25rem;
 background-size: 9.25rem;height:8.37rem;width: 9.25rem;}
#shopCar .main-empty p:first-of-type{color: #735660;font-size: 0.8rem;margin:0.5rem auto 0;text-align: center;}
#shopCar .main-empty a{background: #ff6f84;display: block;margin:0.8rem auto 0;  font-size: 0.7rem;  height: 2rem;  width: 5.6rem;  text-align: center;  line-height: 2rem;
color: #fff;border-radius: 2rem;}
#shopCar .bottom{height: 3.4rem;width: 100%;border-top:1px solid #e0e0e0;padding: 0.5rem 1rem;box-sizing: border-box;display: flex;justify-content: space-between;position: fixed;bottom: 3.5rem;width:100%}
#shopCar .bottom .checkAll{display: block;width:3.75rem;font-size:0.8rem;color:#fc6496;line-height: 2.5rem;  }
#shopCar .bottom .checkAll span{background: url("img/mall_icons.png")no-repeat -1.5rem -13.75rem;display: inline-block;width:1.5rem;
height:1.5rem;background-size: 7.5rem;border-radius: 50%;margin-right: 0.5rem;vertical-align: middle;}
#shopCar .bottom .checkAll .all{border:1px solid #e0e0e0;background: #fff;box-sizing: border-box; }


#shopCar .bottom>div{width:3.75rem;text-align: right;font-size: 0.8rem;}
#shopCar .bottom>div .price{font-size: 0.7rem;color: #735660;}
#shopCar .bottom .all{display: block;color: #fff;background:#fc6496 ;height: 2.5rem;  width: 5.6rem;  text-align: center;  line-height: 2.5rem;
    border-radius: 0.5rem;font-size: 0.8rem;}
#shopCar .maskAll{background:rgba(0,0,0,0.5);width:100%;height: 100%;  position: fixed;top:0;
    z-index:999;}
#shopCar .maskAll>div{width:16rem;background: #fff;margin:50% auto 0;border-radius: 0.5rem;font-size: 0;}
#shopCar .maskAll>div>.question{padding:1.25rem 1rem;line-height: 1.3rem;text-align: center;border-bottom: 1px solid #e0e0e0;font-size:0.9rem; }
#shopCar .maskAll>div>.btn>span{width:50%;height:2.5rem;display: inline-block;font-size: 0.9rem;text-align: center; line-height:2.5rem;box-sizing: border-box;  }

#shopCar .maskAll>div>.btn>span:nth-child(1){border-right: 1px solid #e0e0e0;}




/*有商品的购物车页面*/
#shopCar .main-product{width:100%;background: #fff;}
#shopCar .main-product ul{padding: 0 1rem;}
#shopCar .main-product ul li{display: flex;justify-content: space-between;font-size: 0.7rem;
    padding:0.5rem 0;align-items: center;border-bottom: 1px solid #e0e0e0;}
#shopCar .main-product ul li >span{display:block;background: url("img/mall_icons.png")no-repeat -1.5rem -13.75rem;width:1.5rem;
    height:1.5rem;background-size: 7.5rem;border-radius: 50%;}
#shopCar .main-product ul li >.checkNo{border:1px solid #e0e0e0;background:none;box-sizing: border-box; }
#shopCar .main-product ul li .delBtn{background: url("img/mall_icons.png")no-repeat 0rem -15.5rem;width:1rem;
    height:1rem;background-size: 7.5rem;border-radius: 50%;margin-right:0.5rem; }
#shopCar .main-product ul li .img{height: 3rem;width:3rem;}
#shopCar .main-product ul li .img>img{height:100%;width:100%; }
#shopCar .main-product ul li .infor>p:first-child{line-height:0.9rem;height: 1.8rem;width:8.3rem;overflow: hidden;  }
#shopCar .main-product ul li .infor>p:last-child{color:#999;line-height:0.9rem;margin-top:0.3rem;}
.dis{height: 3.5rem;}
#shopCar .main-product ul li>.good-price>span{display: block;color:#735660;}
#shopCar .main-product ul li>.good-price>select{border:1px solid #e0e0e0;height: 1.6rem;outline: none;-webkit-appearance: none;  -webkit-appearance: none;  -moz-appearance: none;  appearance: none;width:2.5rem;border-radius:0.5rem; }
#tab li:nth-child(3) a div{background-position:-4.5rem -5.8rem; }
#tab li:nth-child(3) a{  color: #fc6496;}