<div id="shopCar">
    <div class="header">
        <p>购物车</p>
        <a href="" ng-click="changeStatus()">{{text}}</a>
    </div>
    <div class="main-empty" ng-show="isHide">
        <div></div>
        <p>空空的</p>
        <a href="#hot">去逛逛</a>
    </div>
    <!--有商品的购物车页面-->
    <div class="main-product" ng-hide="isHide">
        <ul class="product-list">
            <li ng-repeat="(i,obj) in arrChoosed">
                <span ng-hide="showDel" ng-class="{checkNo:arrClass[i]}" ng-click="isCheck(i)"></span><div ng-hide="!showDel" class="delBtn" ng-click="delProduct()"></div>
                <div class="img"><img src="{{obj.img}}" alt=""></div>
                <div class="infor">
                    <p>{{obj.des}}</p>
                    <p>规格:默认</p>
                </div>
                <div class="good-price">
                    <span>¥{{obj.price}}</span>
                    <select   ng-model="text1"  ng-change="changeSelect(i)">
                        <option value="{{str}}"  ng-repeat="(i,str) in obj.storeNum" ng-class="{selected:obj.count==str}" >{{str}}</option>
                    </select>
                </div>
            </li>
        </ul>
    </div>

    <div class="bottom">
        <a class="checkAll" href=""><span ng-class="{all:isAll}" ng-click="chooseAll()"></span>全选</a>
        <div>
            <span class="total">合计:</span>
            <span class="price">￥{{total}}</span>
        </div>
        <a href="" class="all">结算</a>
    </div>
    <div class="dis"></div>
    <div class="maskAll" ng-hide="isDel">
        <div>
            <div class="question">你确定要删除吗？</div>
            <div class="btn"><span class="trueBtn" ng-click="cancel()">取消</span><span class="noBtn" ng-click="confirm()">删除</span></div>
        </div>
    </div>
</div>


