<div id="shopcar">
    <div class="top">
        <p>购物车</p>
        <a href="">完成</a>
    </div>
    <div class="main">
        <p></p>
        <p>空空的</p>
        <a href="">去逛逛</a>
    </div>
    <div class="bottom">
        <a href=""></a>
        <p class="p1">全选</p>
        <p class="p2">合计</p>
        <p class="p3">￥0.00</p>
        <a href="">结算</a>
    </div>
</div>

<!--有商品的购物车页面-->
<div id="buycar">
    <div class="top">
        <p>购物车</p>
        <a href="">编辑</a>
    </div>
    <div class="main">
        <ul>
            <li>
                <p class="p1">LAMBKIN</p>
                <a href=""></a>
                <img src="img/img.jpg" alt="">
                <p class="p2">LAMBKIN韩版加绒长袖开衫外套</p>
                <p class="p3">尺码：100CM</p>
                <p class="p4">颜色：粉色</p>
                <p class="p5">￥59.00</p>
                <div class="s1">
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </div>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <a href=""></a>
        <p class="p1">全选</p>
        <p class="p2">合计</p>
        <p class="p3">￥0.00</p>
        <a href="">结算</a>
    </div>
</div>