<div id="shopCar">
    <div class="header">
        <p>购物车</p>
        <a href="">完成</a>
    </div>
    <div class="main-empty" ng-hide="false">
        <div></div>
        <p>空空的</p>
        <a href="">去逛逛</a>
    </div>

    <!--有商品的购物车页面-->
    <div class="main-product" ng-hide="true">
        <ul class="product-list">
            <li>
                <div class="checkBtn"></div>
                <div class="img"><img src="" alt=""></div>
                <div class="infor">
                    <p>【保税区直发】 澳大利亚Goat Soap 纯手工山羊奶皂100g 柠檬味 【3件起发】</p>
                    <p>规格默认</p>
                </div>
                <div class="good-price">
                    <span>¥23.00</span>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                    </select>
                </div>
            </li>
        </ul>
    </div>









    <div class="bottom">
        <a class="checkAll" href=""><span></span>全选</a>
        <div>
            <span class="total">合计:</span>
            <span class="price">￥0.00</span>
        </div>
        <a href="" class="all">结算</a>
    </div>
    <div class="dis"></div>
</div>


