<div id="hot" data-ui-view="" >
    <header>
        <h1 class="title-img"><i></i></h1>
        <div ui-sref=".search" class="searchpage"><a href=""></a></div>
    </header>
    <div class="banner">
        <div class="slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="obj in arrBanner">
                        <img src="{{obj.banner}}" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <ul class="enter clearfix" >
        <li ui-sref=".category" ng-click="changeEnter(1)"><a href=""><img src="http://s05.lmbang.com/M00/06/14/ecloD1hR-xCAL5XEAAAQRVSCvsU506.png" alt="">宝宝服饰</a></li>
        <li ui-sref=".category" ng-click="changeEnter(2)"><a href=""><img src="http://s04.lmbang.com/M00/06/14/ecloD1hR-xqAIM4OAAAd2hFs7tA067.png" alt="">姨妈巾专区</a></li>
        <li ui-sref=".category" ng-click="changeEnter(3)"><a href=""><img src="http://s02.lmbang.com/M00/0C/B5/ecloA1hR_TCAe5sGAAAT01LOgQk246.png" alt="">孕产专区</a></li>
        <li><a href=""><img src="http://s01.lmbang.com/M00/0C/B5/ecloA1hR_TuAIXAbAAAVIFt41TQ304.png" alt="">保税区</a></li>
        <li ui-sref=".category" ng-click="changeEnter(4)"><a href=""><img src="http://s08.lmbang.com/M00/25/FA/DpgiA1hR_UmAVvBnAAASo0mhDSE534.png" alt="">直邮专区</a></li>
    </ul>
    <div class="toutiao">
        <div class="toutiao-icon"></div>
        <div class="toutiao-content">羊* 在1分钟前购买了: 【保税直发】日本SANA/莎娜 豆乳美肌浓润滋养霜 面霜 50g</div>
    </div>
    <div class="merry">
        <img src="http://s07.lmbang.com/M00/26/FE/DpgiA1hXROuAPY9bAABzOEos414849.jpg" alt="">
        <img src="http://s03.lmbang.com/M00/07/18/ecloD1hXQuOAUkw5AAA-xNcUcaw661.jpg" alt="">
    </div>
    <div class="miaosha">
        <div class="miaosha-header">
            <h3>每日一秒&nbsp;01:00:36</h3>
            <div><span>10:00</span><span>21:00</span></div>
            <span></span>
        </div>
        <ul class="miaosha-content clearfix">
            <li><a href=""><img src="http://s06.lmbang.com/M00/BA/0C/ecloA1crBi2ACIK6AADhve0DvyM008.jpg!c300x300x100.jpg" alt=""><div><span>￥9.9</span>1.5折</div></a></li>
            <li><a href=""><img src="http://s03.lmbang.com/M00/FB/A6/ecloD1gkKfiAISv4AAR1dpXA2pY601.jpg!c300x300x100.jpg" alt=""><div><span>￥16.9</span>3.8折</div></a></li>
            <li><a href=""><img src="http://s04.lmbang.com/M00/23/33/DpgiA1hGYw6ACgc6AALOaMOygJ4161.jpg!c300x300x100.jpg" alt=""><div><span>￥9.9</span>3.3折</div></a></li>
        </ul>
    </div>
    <div class="adv">
        <img src="{{obj.banner}}" alt="" ng-repeat="obj in arrAdv">
    </div>
    <div class="main-bottom">
        <ul class="category-title clearfix">
            <li  ng-click="changeContent(1)" ng-class="{show:1==showNum}"><a href=""  >今日上新</a></li>
            <li  ng-click="changeContent(2)" ng-class="{show:2==showNum}"><a href="" >还有机会</a></li>
           <li  ng-click="changeContent(3)" ng-class="{show:3==showNum}"><a href="" >即将开售</a></li>
        </ul>
    </div>
    <!--<div ui-view=""></div>-->

    <div class="category">
        <ul class="product-list" ng-if="showNum==1">
            <li ng-repeat="obj in arrCategory" class="clearfix">
                <a href="" class="img">
                    <img lazy-src="{{obj.banner}}" alt="">
                    <div class="discount"><span>{{obj.discount}}</span>折起</div>
                </a>
                <div class="infor clearfix">
                    <p>{{obj.spec_name}}</p>
                    <div><p>已售<span>{{obj.sold_total_nums}}</span>件</p><span>{{obj.notice}}</span></div>
                </div>
            </li>
        </ul>
        <ul class="product-list" ng-if="showNum==2">
            <li ng-repeat="obj in arrCategory" class="clearfix">
                <a href="" class="img">
                    <img src="{{obj.banner}}" alt="">
                    <div class="discount"><span>{{obj.discount}}</span>折起</div>
                </a>
                <div class="infor clearfix">
                    <p>{{obj.spec_name}}</p>
                    <div><p>已售<span>{{obj.sold_total_nums}}</span>件</p><span>{{obj.notice}}</span></div>
                </div>
            </li>
        </ul>
        <ul class="product-list-later"  ng-if="showNum==3">
            <li ng-repeat="obj in arrCategory" class="clearfix">
                <a href="" class="img">
                    <img src="{{obj.banner}}" alt="">
                </a>
                <div class="mask"><div></div><span>开卖提醒</span></div>
                <div class="infor clearfix">
                    <p>{{obj.spec_name}}</p>
                    <div><span>{{obj.notice}}</span></div>
                </div>
            </li>
        </ul>
        <div class="footer" ng-if="showNum==1" >
            <h3>今日爆款</h3>
            <ul class="hot-list">
                <li ng-repeat="obj in arrCategory1">
                    <a href="">
                        <div class="hot-img"><img src="{{obj.goods_thumb}}" alt=""></div>
                        <div class="hot-infor">
                            <p>{{obj.goods_name}}</p>
                            <div>
                                <p>已售{{obj.sold_number}}{{obj.goods_unit}}</p>
                                <p>￥{{obj.shop_price}}&nbsp;<span>￥{{obj.market_price}}</span></p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>










    <div class="dis"></div>
</div>



