#hot{position: absolute;width:100%;background:rgb(246,246,246) ;overflow-y: auto;overflow-x: hidden;}
#hot header{height: 3rem;width:100%;position: relative;background: #fff;}
#hot header h1{width: 50%;height: 100%;font-size: 1rem;text-align: center;margin:0 auto;line-height: 3rem;}
#hot header h1 i{display: inline-block;width:4.5rem;height:1.2rem;background: url("../../img/title.png") no-repeat;
background-size:100% 100%; }
#hot header div{height:1.2rem;width:1.2rem;position: absolute ;right:1.5rem;top:30%;}
#hot header div  a{width:1.2rem;height:1.2rem;display: block;background: url("../../img/search.png")no-repeat;background-size: 100% 100%;}
#hot .banner{height:10rem;width:100%;}
#hot .banner img{height: 10rem;width:100%;display: block;}
#hot .enter{width:100%;padding:1rem 0;background: #fff;border-bottom: 1px solid #e0e0e0; }
#hot .enter li{width:20%;float: left;height: 3.5rem;}
#hot .enter li a{display: block;height: 3.5rem;font-size: 0.8rem;text-align: center;  color: #735660;}
#hot .enter li a img{display: block;width:2rem;height: 2rem;margin:0 auto;}
#hot .toutiao{padding: 1rem;background: #fff;display: flex;justify-content: space-between}
#hot .toutiao .toutiao-icon{width:2rem;height:1rem;background: url("../../img/toutiao.png") no-repeat;background-size:100% 100%; }
#hot .toutiao .toutiao-content{font-size:0.5rem;color:#735660;height: 1rem;text-overflow: ellipsis;white-space: normal;overflow: hidden;  width:15rem;}
#hot .merry{margin-top:0.5rem;height:4.5rem;display: flex;justify-content: space-between; }
#hot .merry img{width:9.8rem;height:100%;}
#hot .miaosha{margin-top:0.5rem;padding:1rem 1rem 1.3rem;background: #fff; height:10rem;}
#hot .miaosha .miaosha-header{display: flex;justify-content: space-between;font-size:0.9rem;position: relative;}
#hot .miaosha .miaosha-header>span{display: inline-block;position: absolute;border:0.35rem solid transparent;border-top-color:#fc6496;bottom:-0.56rem;right:4.6rem;}
#hot .miaosha .miaosha-header h3{width:9rem;font-size:0.8rem;font-weight: 400;color: #322228; }
#hot .miaosha .miaosha-header div> span{border-radius:0.6rem;text-align:center;color:#fff;background: #fc6496;display: inline-block;width:3rem;height:1.25rem;}
#hot .miaosha .miaosha-header>div span:last-child{ margin-left: 0.4rem;border:1px solid #fc6496;background: #fff;color:#fc6496;}
#hot .miaosha .miaosha-content{margin-top:1rem;}
#hot .miaosha .miaosha-content li{float: left;width:5.6rem;height: 7rem;}
#hot .miaosha .miaosha-content li:nth-child(2){margin:0 0.6rem;}
#hot .miaosha .miaosha-content li a img{width:100%;height:5.6rem; }
#hot .miaosha .miaosha-content li a div{margin-top:0.5rem;font-size:0.8rem;color:#735660;text-align: center;}
#hot .miaosha .miaosha-content li a div span:first-child{margin-right:0.4rem;}
#hot .adv img{display: block;margin-top:.6rem;width:100%; }
#hot .main-bottom{width:100%;margin-top: 0.6rem; }
#hot .main-bottom .category-title li{width:33.33%;float: left;text-align: center;background:#fff;}
#hot .main-bottom .category-title li a{display:inline-block;width:4rem;height:2.8rem;line-height:2.8rem;font-size:0.9rem;color:#735660;border-bottom:2px solid #fff;  }
#hot .main-bottom .category-title .show a{color:#fc6496;border-bottom-color: #fc6496;}
#hot .main-bottom>div{width:100%}
.dis{height:3.5rem; }
#hot .fix{position: fixed;top:0;width:100%;z-index:100;margin-top:0;}
#hot #returnTop{width:2rem;height: 2rem;border-radius:50%;background: url(../../img/mall_icons.png) no-repeat -5rem 0 ;z-index:101;position: fixed;right:1rem;bottom:5.5rem;background-size:7.5rem;display: none; }

.category .product-list {margin-bottom: 2rem;}
.category .product-list li{margin-bottom:0.7rem; background: #fff;width:100%;}
.category .product-list li a{width:100%;height:10rem;display:block;position: relative;font-size: 0; }
.category .product-list li a img{width:100%;height:10rem;}
.category .product-list li .infor{height:2.8rem;padding: 0 1rem;font-size:0.9rem ; }
.category .product-list li .infor>p{line-height:2.8rem;float: left; color:#322228;width:10rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }
.category .product-list li .infor>div{float: right;line-height:2.8rem;color:#999094;font-size:0.8rem; }
.category .product-list li .infor>div>p{font-size:0.8rem;display: inline-block;margin-right: 1rem;}
.category .product-list li .infor>div>p span{color:#fc6496;}
.category .product-list li .discount{position: absolute;left:0;top:7.6rem;width:5rem;height:1.6rem;background: #fc6496;color:#fff;line-height: 1.6rem;font-size: 0.7rem;padding: 0 0.6rem;box-sizing: border-box;border-radius: 0 1.6rem 1.6rem 0;}
.category .product-list li .discount span{font-size:01rem;}
.category h3{font-size: 0.7rem;color:#735660;width:7rem;margin:0.6rem auto;font-weight: 400;text-align: center;}
.category .hot-list li{padding: 0.8rem;background:#fff;border-bottom: 1px solid #e0e0e0; }
.category .hot-list li a{display: flex;width:100%;justify-content: space-between;align-items: center;}
.category .hot-list li a .hot-img{width:6.5rem;height: 6.5rem;}
.hot-list li a .hot-img img{width:100%;height: 100%;}
.category .hot-list li a .hot-infor{height: 6.5rem;line-height:1rem;font-size:0.7rem;position: relative;width:11rem;color:#735660;}
.category .hot-list li a .hot-infor div{position: absolute;bottom:0;left:0;}
.category .hot-list li a .hot-infor div p:nth-child(1){margin-top:0.5rem;color:#999094; }
.category .hot-list li a .hot-infor div p:last-child{margin-top:1rem;}
.category .hot-list li a .hot-infor div p:last-child span{text-decoration: line-through;}





.category .product-list-later {margin-bottom: 2rem;}
.category .product-list-later li{margin-bottom:0.7rem; background: #fff;width:100%;;position: relative}
.category .product-list-later li a{width:100%;height:10rem;display:block;font-size: 0; }
.category .product-list-later li a img{width:100%;height:10rem;}
.category .product-list-later li .infor{height:2.8rem;padding: 0 1rem;font-size:0.9rem ; }
.category .product-list-later li .infor>p{line-height:2.8rem;float: left; color:#322228;width:10rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }
.category .product-list-later li .infor>div{float: right;line-height:2.8rem;color:#999094;font-size:0.8rem; }
.category .product-list-later li .infor>div>p{font-size:0.8rem;display: inline-block;margin-right: 1rem;}
/*.category .product-list-later li .infor>div>p span{color:#fc6496;}*/
.category .product-list-later li .mask{position: absolute;left:0;top:0rem;width:100%;height:10rem;background: rgba(0,0,0,0.6);color:#fff;z-index:10;text-align: center;line-height: 10rem;}
.category .product-list-later li .mask span{display:block;font-size:0.8rem;background: #fc6496;width:8rem;height: 2rem;border-radius: 2rem;position: absolute;top:40%;left:30%;line-height: 2rem;}
.category .product-list-later li .mask>div{width:2rem;height: 2rem;position: absolute;background-color: red;top:40%;left:33%;background: url("../../img/time.png") no-repeat; z-index:20;}

#tab li:nth-child(1) a div{background-position:0.15rem -5.8rem; }
#tab li:nth-child(1) a{  color: #fc6496;}




























